{% extends 'civ/base.html' %}
{% load i18n %}

{% block title %}CivHelper{% endblock %}

{% block content %}
<div class="container">
    <div class="page-header">
        <h1>CivHelper</h1>
    </div>
    <p class="lead">The standard rules.<br />Calculate how much gold will get a player on Production Phase.<br />Calculate Victory Points.</p>
    <p>Please see <a href="http://www.boardgamegeek.com/boardgame/3633/sid-meiers-civilization-the-boardgame">Sid Meier's Civilization: The Boardgame</a> for more info.</p>
    {% if result %}
    <div class="row">
        <div class="col-sm-12">
            <div class="panel panel-default">
                <div class="panel-heading">{% trans "Result" %}</div>
                <div class="panel-body">
                    <p>{% trans "Gold for city" %}: <b>{{ result.city}}</b></p>
                    <p>{% trans "Have a critical resource" %}: <b>{% if result.critical_resource %}{% trans "Yes" %}{% else %}{% trans "No" %}{% endif %}</b></p>
                    <p>{% trans "Number of unique resources" %}: <b>{{ result.unique_resources}}</b></p>
                    <p>{% trans "Number of monopolyes with 3 cards" %}: <b>{{ result.monopoly_1}}</b></p>
                    <p>{% trans "Number of monopolyes with 4 cards" %}: <b>{{ result.monopoly_2}}</b></p>
                    <p>{% trans "Number of monopolyes with 5 cards" %}: <b>{{ result.monopoly_3}}</b></p>
                    <p class="lead">{% trans "Total number of gold" %}: <b>{{ result.total}}</b></p>
                    <p>{% trans "Settlement size" %}: <b>{{ result.settlement_size}}</b></p>
                    <p>{% trans "Technologies" %}: <b>{{ result.technologies}}</b></p>
                    <p>{% trans "Wonders of the world" %}: <b>{{ result.wonders_of_world}}</b></p>
                    <p class="lead">{% trans "Victory Points" %}: <b>{{ result.victory_points}}</b></p>
                </div>
            </div>
        </div>
        <div class="col-xs-offset-4 col-sm-offset-5">
            <a href="{% url 'home' %}" class="btn btn-primary" role="button">{% trans "Next round" %}</a>
        </div>
    </div>
    {% else %}
    <div class="row">
        <div class="col-sm-12">
            <form class="form-horizontal" role="form" action="" method="post">
                {% csrf_token %}
                <div class="panel panel-default">
                    <div class="panel-heading">{% trans "Round settings" %}</div>
                    <div class="panel-body">
                        {% for field in field_list|slice:":2" %}
                            {% include "civ/form_field.html" with field=field %}
                        {% endfor %}
                    </div>
                </div>
                <div class="panel panel-default">
                    <div class="panel-heading">{% trans "Number of villages" %}</div>
                    <div class="panel-body">
                        {% for field in field_list|slice:"2:4" %}
                            {% include "civ/form_field.html" with field=field %}
                        {% endfor %}
                    </div>
                </div>
                <div class="panel panel-default">
                    <div class="panel-heading">{% trans "Number of towns" %}</div>
                    <div class="panel-body">
                        {% for field in field_list|slice:"4:6" %}
                            {% include "civ/form_field.html" with field=field %}
                        {% endfor %}
                    </div>
                </div>
                <div class="panel panel-default">
                    <div class="panel-heading">{% trans "Number of cities" %}</div>
                    <div class="panel-body">
                        {% for field in field_list|slice:"6:8" %}
                            {% include "civ/form_field.html" with field=field %}
                        {% endfor %}
                    </div>
                </div>
                <div class="panel panel-default">
                    <div class="panel-heading">{% trans "Number of metropolises" %}</div>
                    <div class="panel-body">
                        {% for field in field_list|slice:"8:10" %}
                            {% include "civ/form_field.html" with field=field %}
                        {% endfor %}
                    </div>
                </div>
                <div class="panel panel-default">
                    <div class="panel-heading">{% trans "Number of resources, technologies and wonders of the world" %}</div>
                    <div class="panel-body">
                        {% for field in field_list|slice:"10:" %}
                            {% include "civ/form_field.html" with field=field %}
                        {% endfor %}
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-xs-offset-4 col-sm-offset-5">
                        <button class="btn btn-primary" type="submit">{% trans "Calculate" %}</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
    {% endif %}
</div>
<script>
$(function() {
    $("form div.form-group:has(input)").append('<div class="btn-group"><div class="button btn btn-primary">+</div></div><div class="btn-group"><div class="button btn btn-danger">-</div></div>');

    $(".button").on("click", function() {
        var $button = $(this);
        var oldValue = $button.parents('div.form-group').find("input").val();

        if ($button.text() == "+") {
            var newVal = parseFloat(oldValue) + 1;
        } else {
            if (oldValue > 0) {
                var newVal = parseFloat(oldValue) - 1;
            } else {
                newVal = 0;
            }
        }
        $button.parents('div.form-group').find("input").val(newVal);
    });
});
</script>

{% endblock %}

